<script type="text/javascript">
  estimatedData = <%- JSON.stringify(locals.estimatedData); %>;
  timeLoggedData = <%- JSON.stringify(locals.timeLoggedData); %>;
</script>

<h1 class="title"><%= locals.team.name %> Data</h1>
<div class="card full-width marg-bottom-5">
  <h1 class="title">Estimated Time</h1>
  <canvas id="<%= estimatedId %>"></canvas>
</div>
<div class="card full-width marg-bottom-10">
  <h1 class="title">Total Time Logged</h1>
  <canvas id="<%= timeLoggedId %>"></canvas>
</div>
