<!DOCTYPE html>
<html>
<head>
  <%- include('./includes/head'); %>
</head>
<body>
  <div class="wrapper">
    <div id="modal-overlay"></div>
    <div id="colour-scheme-create-modal" class="card modal middle">
      <form id="create-colour-scheme-form" action="/data" method="POST">
        <h1 class="title">Create Colour Scheme</h1>
        <table class="full-width">
          <colgroup>
            <col class="width-20"></col>
            <col></col>
          </colgroup>
          <tbody>
            <tr>
              <td><label for="create-title">Title:</label></td>
              <td><input id="create-title" class="full-width" type="text" name="title" value="<%= formData.title %>"></td>
            </tr>
            <tr>
              <td><label for="create-resolve">Resolved:</label></td>
              <td><input id="create-resolve" class="jscolor {hash:true}" name="resolve" value="<%= formData.resolve %>"></td>
            </tr>
            <tr>
              <td><label for="create-close">Closed:</label></td>
              <td><input id="create-close" class="jscolor {hash:true}" name="close" value="<%= formData.close %>"></td>
            </tr>
            <tr>
              <td><label for="create-in-progress">In Progress:</label></td>
              <td><input id="create-in-progress" class="jscolor {hash:true}" name="inProgress" value="<%= formData.inProgress %>"></td>
            </tr>
            <tr>
              <td><label for="create-awaiting-start">Awaiting Start:</label></td>
              <td><input id="create-awaiting-start" class="jscolor {hash:true}" name="awaitingStart" value="<%= formData.awaitingStart %>"></td>
            </tr>
            <tr>
              <td><label for="create-default">Default:</label></td>
              <td><input id="create-default" class="jscolor {hash:true}" name="defaultColour" value="<%= formData.defaultColour %>"></td>
            </tr>
            <tr>
              <td></td>
              <td class="text-right"><button id="create-button"><i class="material-icons">done</i></button></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>

    <div class="header">
      <%- include('./includes/navbar', { active: 'data' }); %>
    </div>
    <div class="content">
      <h1 class="title">Colour Schemes</h1>
      <div class="list-wrapper">
        <% for(let colourScheme of locals.colourSchemes) { %>
        <div class="list-item">
          <div class="list-title"><%= colourScheme.title %></div>
          <div class="colours">
            <div class="colour has-tooltip" style="background: <%= colourScheme.resolve %>;">
              <span class="tooltipwrapper"><span class="tooltip">Resolved</span></span>
            </div>
            <div class="colour has-tooltip" style="background: <%= colourScheme.close %>;">
              <span class="tooltipwrapper"><span class="tooltip">Closed</span></span>
            </div>
            <div class="colour has-tooltip" style="background: <%= colourScheme.inProgress %>">
              <span class="tooltipwrapper"><span class="tooltip">In Progress</span></span>
            </div>
            <div class="colour has-tooltip" style="background: <%= colourScheme.awaitingStart %>">
              <span class="tooltipwrapper"><span class="tooltip">Awaiting Start</span></span>
            </div>
            <div class="colour has-tooltip" style="background: <%= colourScheme.defaultColour %>">
              <span class="tooltipwrapper"><span class="tooltip">Default</span></span>
            </div>
          </div>
        </div>
        <% } %>
      </div>
      <button id="create-colour-scheme" class="marg-bottom-5">
        <%- include('./includes/icon', { icon: 'add_circle' }) %>
      </button>

      <script type="text/javascript">
        let estimatedData, timeLoggedData;
        function addOnLoad(fn) { 
          var old = window.onload;
          window.onload = function() {
            old();
            fn();
          };
        }
      </script>

      <% let estimatedData, timeLoggedData; %>
      <% for(let team of locals.teams) { %>
        <% estimatedData = estimatedGraphs.find((graphData) => graphData.team === team.id) %>
        <% timeLoggedData = loggedTimeGraphs.find((graphData) => graphData.team === team.id) %>
        <% estimatedId = team.id + '-' + 'estimate' %>
        <% timeLoggedId = team.id + '-' + 'time-logged' %>
        <%- include('includes/data-card', { estimatedData, timeLoggedData, estimatedId, timeLoggedId, team }) %>
        <script type="text/javascript">
          function checkLoad<%= team.id %>() {
            if (window.populateChart) {
              addOnLoad(window.populateChart('<%= estimatedId %>', <%- JSON.stringify(team) %>, <%- JSON.stringify(estimatedData) %>));
              addOnLoad(window.populateChart('<%= timeLoggedId %>', <%- JSON.stringify(team) %>, <%- JSON.stringify(timeLoggedData) %>));
            } else {
              setTimeout(checkLoad<%= team.id %>, 100);
            }
          }
          checkLoad<%= team.id %>();
        </script>
      <% } %>
    </div>
  </div>
</body>
</html>
