<!DOCTYPE html>
<html>
<head>
  <%- include('./includes/head'); %>
</head>
<body>
  <div class="wrapper">
    <div class="header">
      <%- include('./includes/navbar', { active: 'employees' }); %>
    </div>
    <div class="content">
      <div id="modal-overlay"></div>
      <div id="employee-create-modal" class="card modal middle">
        <form id="create-employee-form" action="/employees/create" method="POST">
          <input type="hidden" name="id" value="null">
          <h1 class="title">Create Employee</h1>
          <table class="full-width">
            <colgroup>
              <col class="width-20">
              <col>
            </colgroup>
            <tbody>
              <tr>
                <td><label for="create-first-name">First Name:</label></td>
                <td class="full-width"><input id="create-first-name" class="full-width" type="text" name="firstName" value="<%= locals.formData.firstName %>"></td>
              </tr>
              <tr>
                <td><label for="create-surname">Surname:</label></td>
                <td class="full-width"><input id="create-surname" class="full-width" type="text" name="surname" value="<%= locals.formData.surname %>"></td>
              </tr>
              <tr>
                <td><label for="create-email">Email:</label></td>
                <td class="full-width"><input id="create-email" class="full-width" type="email" name="email" value="<%= locals.formData.email %>"></td>
              </tr>
              <tr>
                <td><label for="create-password">Password:</label></td>
                <td><input id="create-password" type="password" name="password" value="<%= locals.formData.password %>"></td>
              </tr>
              <tr>
                <td class="vert-middle"><label for="create-password-confirm">Confirm Password:</label></td>
                <td><input id="create-password-confirm" type="password" name="passwordConfirm" value="<%= locals.formData.passwordConfirm %>"></td>
              </tr>
              <tr>
                <td><label for="create-capacity">Capacity:</label></td>
                <td><input id="create-capacity" type="number" name="capacity" value="<%= locals.formData.capacity %>"></td>
              </tr>
              <tr>
                <td><label for="create-team">Team:</label></td>
                <td>
                  <select name="team" id="create-team" class="full-width" value="<%= locals.formData.team %>">
                    <option value="null" disabled>Select a Team</option>
                    <% for (let team of locals.teams) { %>
                      <option value="<%= team.id %>"><%= team.name %></option>
                    <% } %>
                  </select>
                </td>
              </tr>
              <tr>
                <td><label for="create-tier">Tier:</label></td>
                <td>
                  <select name="tier" id="create-tier" class="full-width" value="<%= locals.formData.tier || null %>">
                    <option value="null" disabled>Select a Tier</option>
                    <% for (let tier of locals.tiers) { %>
                      <option value="<%= tier.name %>"><%= tier.name %></option>
                    <% } %>
                  </select>
                </td>
              </tr>
              <tr>
                <td><label for="create-role">Role:</label></td>
                <td><input id="create-role" type="number" name="role" value="<%= locals.formData.role || 0 %>"/></td>
              </tr>
              <tr>
                <td></td>
                <td class="text-right"><button id="create-button"><i class="material-icons">done</i></button></td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
      <div id="employee-edit-modal" class="card modal middle">
        <form id="edit-employee-form" action="/employees/edit" method="POST">
          <input type="hidden" name="id" />
          <h1 class="title">Create Employee</h1>
          <table class="full-width">
            <colgroup>
              <col class="width-20">
              <col>
            </colgroup>
            <tbody>
              <tr>
                <td><label for="edit-id">Employee ID:</label></td>
                <td class="full-width"><input id="edit-id" class="full-width" type="text" name="idShown" disabled /><td>
              </tr>
              <tr>
                <td><label for="edit-first-name">First Name:</label></td>
                <td class="full-width"><input id="edit-first-name" class="full-width" type="text" name="firstName" /><td>
              </tr>
              <tr>
                <td><label for="edit-surname">Surname:</label></td>
                <td class="full-width"><input id="edit-surname" class="full-width" type="text" name="surname" /><td>
              </tr>
              <tr>
                <td><label for="edit-email">Email:</label></td>
                <td class="full-width"><input id="edit-email" class="full-width" type="email" name="email" /><td>
              </tr>
              <tr>
                <td><label for="edit-capacity">Capacity:</label></td>
                <td><input id="edit-capacity" type="number" name="capacity" /><td>
              </tr>
              <tr>
                <td><label for="edit-team">Team:</label></td>
                <td>
                  <select name="team" id="edit-team" class="full-width" value="null"/><
                    <option value="null" disabled>Select a Team</option>
                    <% for (let team of locals.teams) { %>
                      <option value="<%= team.id %>"><%= team.name %></option>
                    <% } %>
                  </select>
                </td>
              </tr>
              <tr>
                <td><label for="edit-tier">Tier:</label></td>
                <td>
                  <select name="tier" id="edit-tier" class="full-width" value="<%= locals.formData.tier || null %>">
                    <option value="null" disabled>Select a Tier</option>
                    <% for (let tier of locals.tiers) { %>
                      <option value="<%= tier.name %>"><%= tier.name %></option>
                    <% } %>
                  </select>
                </td>
              </tr>
              <tr>
                <td><label for="edit-role">Role:</label></td>
                <td><input id="edit-role" type="number" name="role" /></td>
              </tr>
              <tr>
                <td></td>
                <td class="text-right"><button id="edit-button"><i class="material-icons">done</i></button></td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>



      <h1 class="title">Employees</h1>
      <button id="create-employee" class="marg-bottom-2"><%- include('includes/icon', { icon: 'add_circle' }); %></button>
      <h1 class="title">Teams</h1>
      <div id="team-create" class="full-width marg-bottom-2">
        <form id="create-team-form" action="/employees/teams/create" method="POST">
          <table class="full-width">
            <colgroup>
              <col>
              <col class="width-30">
              <col class="width-11">
            </colgroup>
            <tbody>
              <tr>
                  <td>
                    <input class="full-width" id="create-team-name" type="text" name="teamName" placeholder="Team Name" value="<%= locals.formData.teamName %>">
                  </td>
                  <td>
                    <select class="full-width" id="create-team-colour-scheme" name="teamColourScheme" value="<%= locals.formData.teamColourScheme %>">
                      <option disabled value="-1">Select Colour Scheme</option>
                      <% for(let colourScheme of locals.colourSchemes) { %>
                        <option value="<%= colourScheme.id %>"><%= colourScheme.title %></option>
                      <% } %>
                    </select>
                  </td>
                  <td class="text-right">
                    <button><%- include('includes/icon', { icon: 'add_circle' }); %></button>
                  </td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
      <% for (let team of locals.teams) { %>
        <div class="full-width marg-bottom-5">
          <h3 class="title"><%= team.name %></h3>
          <div class="list-wrapper">
            <% for (let employee of employeeMap[team.id]) { %>
              <div
                class="list-item employee"
                data-id="<%= employee.id %>"
                data-id-shown="<%= employee.id %>"
                data-first-name="<%= employee.firstName %>"
                data-surname="<%= employee.surname %>"
                data-email="<%= employee.email %>"
                data-capacity="<%= employee.capacity %>"
                data-role="<%= employee.role %>"
                data-team="<%= employee.team.id %>"
                data-tier="<%= employee.tier.name %>"><%= employee.fullName %></div>
            <% } %>
          </div>
        </div>
      <% } %>
      <h1 class="title">Tiers</h1>
      <% for (let tier of locals.tiers) { %>
        <p><%= tier.name + ' - £' + tier.cost %></p>
        <div class="list-wrapper"></div>
      <% } %>
      <div id="tier-list" class="list-wrapper">
        <form id="create-tier-form" action="/employees/tiers/create" method="POST">
          <table class="full-width">
            <colgroup>
              <col>
              <col class="width-20">
              <col class="width-11">
            </colgroup>
            <tbody>
              <tr>
                <td>
                  <input class="full-width" type="text" name="tierName" placeholder="Name" value="<%= locals.formData.tierName %>">
                </td>
                <td>
                  <input class="full-width" type="number" name="tierCost" placeholder="Cost" value="<%= locals.formData.tierCost %>">
                </td>
                <td class="text-right">
                  <button><%- include('includes/icon', { icon: 'add_circle' }); %></button>
                </td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
