<!DOCTYPE html>
<html>
<head>
  <%- include('./includes/head'); %>
  <% let editable = issue.assignee.id === user.id || user.role > 0; %>
</head>
<body>
  <div class="wrapper">
    <div id="modal-overlay"></div>
    <div id="log-time-modal" class="card modal middle width-50">
      <form id="log-time-form" action="/issues/<%= locals.issue.id %>/log" method="POST">
        <h1 class="title">Log Time</h1>
        <table class="full-width">
          <colgroup>
            <col class="width-15"></col>
            <col></col>
            <col class="width-12"></col>
          </colgroup>
          <tbody>
            <tr>
              <td><label for="time">Time:</label></td>
              <td><input id="time" class="full-width" type="text" name="time" placeholder="3w 2d 4h 30m" value="<%= locals.formData.time %>" <%= editable ? '' : 'disabled' %>></td>
              <td class="text-right">
                <button <%= editable ? '' : 'disabled' %>>
                  <%- include('includes/icon', { icon: 'done' }); %>  
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
    <div id="edit-time-modal" class="card modal middle width-50">
      <form id="edit-time-form" action="/issues/<%= locals.issue.id %>/log/edit" method="POST">
        <input type="hidden" name="editLogSprint">
        <input type="hidden" name="editLogOldTime">
        <h1 class="title">Edit Work Log</h1>
        <table class="full-width">
          <colgroup>
            <col class="width-15"></col>
            <col></col>
            <col class="width-12"></col>
          </colgroup>
          <tbody>
            <tr>
              <td><label for="time">Time:</label></td>
              <td><input id="time" class="full-width" type="text" name="editLogTime" placeholder="3w 2d 4h 30m" <%= editable ? '' : 'disabled' %>></td>
              <td class="text-right">
                <button <%= editable ? '' : 'disabled' %>>
                  <%- include('includes/icon', { icon: 'done' }); %>  
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
    <div id="delete-issue-modal" class="card modal middle width-50">
      <form id="delete-issue-form" action="/issues/<%= locals.issue.id %>/delete" method="POST">
        <h1 class="title">Delete <%= issue.id %></h1>
        <table class="full-width">
          <colgroup>
            <col></col>
            <col class="width-12"></col>
          </colgroup>
          <tbody>
            <tr>
              <td class="vert-middle wrap-text">Are you sure you wish to irreversibly delete this issue and its related worklogs?</td>
              <td class="vert-middle">
                <button class="bg-red">
                  <%- include('includes/icon', { icon: 'delete' }); %>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>



    <div class="header">
      <%- include('./includes/navbar', { active: 'issues' }); %>
    </div>
    <div class="content">
      <div class="card full-width marg-bottom-5">
        <table class="full-width">
          <tbody>
            <tr>
              <td>
                <b><%= locals.issue.id + ' - ' %></b><div class="italic inline"><%= locals.issue.state %><%= editable ? '' : ' - Read Only' %></div>
              </td>
              <td class="text-right">
                <form action="/issues/<%= locals.issue.id %>/toggleProgress" method="POST">
                  <button id="toggle-progress-btn" <%= locals.issue.state === 'Closed' ? 'disabled' : ''%> <%= editable ? '' : 'disabled' %>><%= locals.issue.state === 'Awaiting Start' || locals.issue.state === 'Resolved' || locals.issue.state === 'Closed' ? 'Start' : 'Stop' %> Progress</button>
                </form>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <b>Assignee - </b><div class="italic inline"><%= locals.issue.assignee.fullName %></div>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <b><%= locals.issue.title %></b>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <textarea class="full-width" rows="6" name="description" disabled><%= locals.issue.description %></textarea>
              </td>
            </tr>
            <tr>
              <td>
                <button id="log-time-btn" <%= locals.issue.state === 'In Progress' ? '' : 'disabled' %> <%= editable ? '' : 'disabled' %>>
                  <%- include('includes/icon', { icon: 'access_time' }); %>
                </button>
              </td>
              <td>
                <div id="time-graph">
                  <%- include('includes/time-graph', {
                    estimate: locals.issue.estimate,
                    total: locals.issue.totalSeconds,
                    friendlyEstimate: locals.issue.friendlyEstimate,
                    friendlyTotal: locals.issue.friendlyTotal
                  }); %>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <form action="/issues/<%= locals.issue.id %>/<%= locals.issue.state === 'Resolved' ? 'close' : 'resolve' %>" method="POST">
                  <button id="resolve-btn" <%= locals.issue.state === 'Closed' ? 'disabled' : '' %> <%= editable ? '' : 'disabled' %>><%= locals.issue.state === 'Resolved' || locals.issue.state === 'Closed' ? 'Close' : 'Resolved' %></button>
                </form>
              </td>
              <td class="text-right">
                <button id="delete-btn" class="bg-red inline">
                  <%- include('includes/icon', { icon: 'delete' }); %>
                </button>
                <form action="/issues" method="GET" class="inline">
                  <button id="done-btn">
                    <%- include('includes/icon', { icon: 'done' }); %>
                  </button>
                </form>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="list-wrapper">
        <% for (let workLog of issue.workLogs) { console.log(workLog); %>
          <div class="list-item">
            <table class="full-width">
              <colgroup>
                <col></col>
                <col class="width-12"></col>
                <col class="width-12"></col>
              </colgroup>
              <tbody>
                <tr>
                  <td class="text-right">
                    <%= workLog.friendlyTime %>
                  </td>
                  <td>
                    <button class="edit-work-log-btn" data-sprint="<%= workLog.sprint %>" data-time="<%= workLog.time %>" data-friendly-time="<%= workLog.friendlyTime %>" <%= editable ? '' : 'disabled' %>>
                      <%- include('includes/icon', { icon: 'edit' }); %>
                    </button>
                  </td>
                  <td>
                    <form action="/issues/<%= locals.issue.id %>/removeLog" method="POST">
                      <input type="hidden" name="logSprint" value="<%= workLog.sprint %>">
                      <input type="hidden" name="logTime" value="<%= workLog.time %>">
                      <button id="delete-work-log-btn" <%= editable ? '' : 'disabled' %>>
                        <%- include('includes/icon', { icon: 'delete' }); %>
                      </button>
                    </form>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        <% } %>
      </div>
    </div>
  </div>
</body>
</html>
