<!DOCTYPE html>
<html>
<head>
  <%- include('./includes/head'); %>
</head>
<body>
  <div class="wrapper">
    <div class="header">
      <%- include('./includes/navbar', { active: 'sprint' }); %>
    </div>
    <div class="content">
      <div class="list-wrapper">
        <% for (let sprint of locals.sprints) { %>
          <div class="list-item">
            <table class="full-width">
              <colgroup>
                <col class="width-30">
                <col>
                <col class="width-15">
                <col class="width-5">
                <col class="width-15">
              </colgroup>
              <tbody>
                <tr>
                  <td>Sprint - <%= sprint.id %></td>
                  <td></td>
                  <td class="text-right"><%= sprint.friendlyStart %></td>
                  <td class="text-center">-</td>
                  <td class="text-left"><%= sprint.friendlyEnd %></td>
                </tr>
              </tbody>
            </table>
          </div>
        <% } %>
      </div>
      <form id="create-tier-form" action="/sprint/create" method="POST">
        <table class="full-width">
          <colgroup>
            <col class="width-30">
            <col class="width-25">
            <col>
          </colgroup>
          <tbody>
            <tr>
              <td class="text-left">Sprint Start:</td>
              <td class="text-left">Sprint Length (days):</td>
              <td></td>
            </tr>
            <tr>
              <td>
                <!-- Start date -->
                <input class="full-width" type="date" name="start">
              </td>
              <td>
                <!-- Days -->
                <input class="full-width" type="number" name="length">
              </td>
              <td class="text-right">
                <button><%- include('includes/icon', { icon: 'add_circle' }); %></button>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</body>
</html>
